/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-brand {
    margin-left: 50px;  
}

.collapse {
    margin-right: 50px;
}

.footer {
    margin: 0;
}